body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.row {
    /* background-color: rgb(17, 255, 0); */
    border: 1px solid rgb(235, 87, 191);
    padding: 0.5em;
    margin: 0.5em;
}
.row h1 {
    color:red;
    font-size: 1.25em;
    
}
.row .col .formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}



 
img {
    margin: 0.5em;
}
form {
    margin: 0.5em;
}
